THREADS_ACCESS_TOKEN=replace_with_threads_access_token
THREADS_USER_ID=replace_with_threads_user_id
BRAND_KEYWORDS=VIPTHINK,VIP Think,#VIPThink

INSTAGRAM_ACCESS_TOKEN=replace_with_instagram_access_token
INSTAGRAM_USER_ID=replace_with_instagram_user_id
INSTAGRAM_APP_ID=replace_with_instagram_app_id
INSTAGRAM_APP_SECRET=replace_with_instagram_app_secret
INSTAGRAM_HASHTAGS=VIPTHINK,VIPThink

LINE_CHANNEL_ACCESS_TOKEN=replace_with_line_channel_access_token
